{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    {% include 'todo/_theme_toggle.html' %}
    <h1>完了したタスク一覧</h1>

    <div>
      <a href="{% url 'index' %}">Top</a>
    </div>
    <br>

    {% for task in tasks %}
    <div class="text">
      <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
      <ul>
        <li>Posted at: {{ task.posted_at }}</li>
        {% if task.due_at %}
        <li>Due at: {{ task.due_at }}</li>
        {% else %}
        <li>期限：未設定</li>
        {% endif %}
      </ul>
      <form action="{% url 'toggle_completed' task.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'completed_list' %}">
        <label>
          <input type="checkbox" onchange="this.form.submit()" checked>
          完了にする
        </label>
      </form>
    </div>
    {% endfor %}
  </body>

</html>
