{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <form action="{% url 'toggle_completed' task.id %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'detail' task.id %}">
      <label>
        <input type="checkbox" onchange="this.form.submit()" {% if task.completed %}checked{% endif %}>
        完了にする
      </label>
    </form>

    <div>
      <a href="{% url 'index' %}">Top</a>
      | <a href="{% url 'update' task.id %}">Edit</a>
      | <a href="{% url 'delete' task.id %}">Delete</a>
    </div>
  </body>

</html>